.cm-header {
    display: flex;
    gap: 10px;
    position: fixed;
    align-items: center;
    width: -webkit-fill-available;
    background: darkslategray;
    height: 50px;
    padding: 10px;
    margin-right: 42px;
}

.form-submit-container {
    display: flex;
    align-items: center;
    gap: 6px;
    position: fixed;
    bottom: 0px;
    width: -webkit-fill-available;
}

.message-box {
    display: flex;
    border: 1px solid palegoldenrod;
    padding: 5px;
    font-size: 14px;
    gap: 15px;
    margin: 4px 0;
}

.message-box p {
    margin: 0;
    padding: 0;
}

.sender-message-box {}

.receiver-message-box {}